:root {
  --primary: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --shadow-xl: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-l: 0 2rem 5rem rgba(0,0,0, .06);
  --shadow-2l: 0 2rem 3rem rgba(0,0,0, .04);
  --line: 1px solid var(--grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
  .body.no-scroll {
    overflow-y: hidden; }

.heading__tertiary {
  font-size: 1.8rem; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.u-mb-s {
  margin-bottom: 1rem  !important; }

.u-mb-m {
  margin-bottom: 1.6rem  !important; }

.u-mb-l {
  margin-bottom: 2rem  !important; }

.u-mb-xl {
  margin-bottom: 3rem  !important; }

.p-xl {
  padding: 4.5rem  !important; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.gallery {
  display: flex; }
  .gallery__item {
    overflow: hidden;
    position: relative; }
    .gallery__item:hover .gallery__photo {
      transform: scale(1.1);
      filter: blur(1.5px); }
    .gallery__item:hover .gallery__caption {
      transform: translateY(0); }
  .gallery__photo {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
    cursor: pointer; }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    transform: translateY(100%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    color: #fff;
    transition: all .3s ease; }
  .gallery__caption-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase; }
  .gallery__caption-body {
    font-size: 1rem; }

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex;
    align-items: center; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px; }
  .overview__rating {
    background-color: var(--primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn-outline {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  color: var(--primary);
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .btn-outline::after {
    content: '';
    height: 2px;
    background-color: var(--primary);
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: left;
    width: 0;
    transition: all .2s ease; }
  .btn-outline:hover::after, .btn-outline.active::after {
    width: 100%; }
  .btn-outline.transparent {
    background-color: transparent; }

.button {
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 1.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  box-shadow: var(--shadow-l);
  cursor: pointer;
  color: var(--primary-dark);
  background-color: #fff;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  color: var(--primary);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
  width: 100%;
  transition: all .2s; }
  .button__visible {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: currentColor;
    transition: all .2s; }
  .button__invisible {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    position: absolute;
    color: currentColor;
    transition: all .2s; }
  .button:hover .button__visible {
    transform: translate(-50%, 200%); }
  .button:hover .button__invisible {
    transform: translate(-50%, -50%); }
  .button:hover {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5); }
  .button__sm {
    max-width: 30rem; }
  .button__primary {
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    color: #fff;
    transition: all .2s; }
  .button:hover.button__primary {
    background-image: linear-gradient(to left, var(--primary-light), var(--primary-dark)); }

.description {
  background-color: #fff;
  box-shadow: var(--shadow-l);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem; }

.paragraph {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: var(--primary-dark);
    --webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    --webkit-mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -2.5rem; }

.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-l);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .review__text {
    z-index: 10;
    position: relative; }
  .review__user {
    margin-top: 2rem;
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    justify-self: end;
    align-self: center;
    color: var(--primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--grey-light-2);
    font-family: sans-serif;
    z-index: 1; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -100;
  visibility: hidden;
  opacity: 0; }
  .modal.active {
    visibility: visible;
    opacity: 1;
    z-index: 100; }
  .modal__body {
    align-self: stretch;
    flex: 1;
    max-width: 100rem;
    margin: 8% auto;
    padding: 0;
    transform: translateY(-200%);
    transition: .7s ease .1s; }
  .modal.active > .modal__body {
    transform: translateY(0); }
  .modal__close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 4rem;
    color: var(--grey-dark-3);
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    transition: all .2s; }
    .modal__close-btn:hover {
      color: var(--grey-light-3); }

.slider {
  width: 100%;
  height: 60rem;
  position: relative;
  overflow: hidden; }
  .slider__btn {
    position: absolute;
    outline: none;
    border: none;
    fill: var(--grey-dark-3);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%); }
    .slider__btn:hover {
      fill: var(--grey-light-4); }
    .slider__btn--left {
      left: 0;
      transform: translateX(50%); }
    .slider__btn--right {
      right: 0;
      transform: translateX(-50%); }
  .slider__btn-icon {
    height: 3rem;
    width: 3rem; }
  .slider__lines {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateY(50%);
    transition: all .2s; }
  .slider__line {
    width: 2.5rem;
    height: 5px;
    margin: 15px 5px;
    border-radius: .5rem;
    background-color: var(--grey-dark-3);
    cursor: pointer; }
    .slider__line:hover, .slider__line.active {
      background-color: var(--grey-light-3); }

.slide {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all .2s; }
  .slide__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; }
  .slide__img {
    width: 100%;
    height: 100%; }
  .slide__description {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    transform: translateY(100%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    color: #fff;
    transform: translateY(0%);
    transition: all .3s ease; }
  .slide__title {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase; }
  .slide__body {
    color: var(--grey-light-4);
    font-size: 1.4rem; }

.book {
  background-color: #fff;
  box-shadow: var(--shadow-l);
  padding: 3rem;
  align-self: start; }
  .book__header {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
    margin-bottom: 1.5rem; }
  .book__header-text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 1rem; }
  .book__header-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor; }
  .book__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem; }
  .book__form-group {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    position: relative; }
    .book__form-group--input {
      grid-column: 1 / -1;
      border-radius: 3px; }
    .book__form-group--dateFrom {
      grid-column: 1;
      grid-row: 3; }
    .book__form-group--dateTo {
      grid-column: 2;
      grid-row: 3; }
      .book__form-group--dateTo.hide {
        display: none; }
    .book__form-group--seat {
      grid-column: 3 / -1; }
  .book__label {
    top: 0;
    left: 1rem;
    color: #000;
    transform: translateY(25%);
    font-size: 1rem;
    font-weight: 600; }
  .book__input {
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: inherit;
    color: inherit;
    border: 1px solid var(--grey-light-3);
    background-color: var(--grey-light-1);
    border-radius: 8px;
    padding: 1rem; }
    .book__input::placeholder {
      color: var(--grey-light-4); }
    .book__input:focus {
      outline: none; }
    .book__input--date {
      color: var(--grey-light-4); }
      .book__input--date:focus {
        color: #000; }
    .book__input--seat {
      cursor: pointer;
      color: var(--grey-light-4); }
  .book__btn-submit {
    align-self: stretch;
    margin-top: 1rem;
    grid-column: 1/-1;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    padding: 1rem;
    border-radius: 100rem; }
  .book__btn-wrapper {
    margin-top: 1rem;
    grid-column: 1/-1; }
  .book__icon-box {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-100%, -35%); }
  .book__icon {
    height: 1.2rem;
    width: 1.2rem; }

.seat {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-l);
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-40%, 60%) scale(0.08);
  opacity: 0;
  visibility: hidden;
  transition: all .2s; }
  .seat.show {
    transform: translate(0%, 100%) scale(1);
    opacity: 1;
    visibility: visible; }
  .seat__form-group {
    display: flex; }
  .seat__container {
    display: flex;
    flex-direction: column;
    min-width: 15rem; }
  .seat__head {
    font-size: 1.4rem;
    font-weight: 600; }
  .seat__subhead {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grey-light-4); }
  .seat__container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem; }
  .seat__num {
    font-size: 2rem;
    font-weight: 600;
    color: #000; }
  .seat__btn {
    width: 3rem;
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light-3);
    transition: all .2s; }
    .seat__btn:hover {
      background-color: var(--grey-light-4); }

.info {
  background-color: #fff;
  box-shadow: var(--shadow-l);
  padding: 3rem; }
  .info__img {
    width: 100%;
    height: 14rem; }
  .info__paragraph {
    font-size: 1.4rem;
    color: #777;
    hyphens: auto;
    /* Enable automatic hyphenation */
    word-wrap: break-word;
    /* For older browsers that do not support hyphens property */
    overflow-wrap: break-word;
    /* For newer browsers that do not support hyphens property */ }

.flights {
  grid-column: 1 / -1;
  background-color: #fff;
  box-shadow: var(--shadow-l);
  padding: 3rem; }
  .flights__header {
    display: flex;
    gap: 1rem; }
  .flights__body {
    position: relative; }

.carousel {
  height: 20rem;
  position: relative;
  overflow: hidden; }
  .carousel__width {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    transition: 0.4s ease-in-out; }
  .carousel__item {
    height: 20rem;
    overflow: hidden;
    transition: all .2s; }
    .carousel__item:not(:last-child) {
      margin-right: 2rem; }
    .carousel__item:hover .carousel__img {
      filter: blur(2px);
      transform: scale(1.1); }
    .carousel__item:hover .carousel__body {
      transform: translateY(-102%); }
  .carousel__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    transition: all .2s; }
  .carousel__body {
    padding: 1.4rem;
    width: 100%;
    min-height: 20rem;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: #fff;
    transform: translateY(0);
    transition: all .3s ease; }
  .carousel__city {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase; }
  .carousel__city-info {
    color: var(--grey-light-4);
    font-size: 1.4rem; }
  .carousel__btn {
    position: absolute;
    top: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: var(--grey-light-1);
    color: var(--grey-dark-3);
    transition: all .2s; }
    .carousel__btn:hover {
      background-color: var(--grey-dark-3);
      color: var(--grey-light-3); }
    .carousel__btn--left {
      left: 0;
      transform: translate(-50%, -50%); }
    .carousel__btn--right {
      right: 0;
      transform: translate(50%, -50%); }
    .carousel__btn-icon {
      width: 3.2rem;
      height: 3.2rem;
      padding: .8rem;
      fill: currentColor; }

.card {
  display: flex;
  gap: 1.4rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: var(--shadow-l); }
  .card__icon-box {
    border-radius: 50%;
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .card__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: #fff; }
  .card__body {
    display: flex;
    flex-direction: column; }
  .card__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: .4rem;
    color: var(--grey-dark-1); }
  .card__text {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4;
    color: var(--grey-dark-2); }

.car-card {
  display: flex;
  gap: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-l);
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  .car-card__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    padding: 0 3rem;
    margin-top: 3rem; }
  .car-card__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--grey-dark-1); }
  .car-card__tag {
    border-radius: 100px;
    font-size: 1rem;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem .6rem;
    border: none;
    outline: none;
    box-shadow: var(--shadow-xl);
    text-transform: uppercase;
    font-size: 600;
    align-self: start; }
  .car-card__body {
    padding: 8rem 3rem 3rem 3rem;
    background-image: linear-gradient(to bottom, var(--primary-light), var(--primary-dark));
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: visible; }
  .car-card__img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    z-index: 9999;
    transition: all .4s ease-out; }
    .car-card__img--1 {
      transform: translate(-30%, 55%); }
    .car-card__img--2 {
      transform: translate(-30%, 55%); }
    .car-card__img--3 {
      transform: translate(-30%, 43%); }
    .car-card__img--4 {
      transform: translate(-30%, 115%); }
    .car-card__img--5 {
      transform: translate(-30%, 70%); }
    .car-card__img--6 {
      transform: translate(-30%, 72%); }
  .car-card:hover .car-card__img--1 {
    transform: translate(-50%, 55%); }
  .car-card:hover .car-card__img--2 {
    transform: translate(-50%, 55%); }
  .car-card:hover .car-card__img--3 {
    transform: translate(-50%, 43%); }
  .car-card:hover .car-card__img--4 {
    transform: translate(-50%, 115%); }
  .car-card:hover .car-card__img--5 {
    transform: translate(-50%, 70%); }
  .car-card:hover .car-card__img--6 {
    transform: translate(-50%, 72%); }
  .car-card__features {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between; }
  .car-card__feature {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    border-radius: 5px;
    transition: all .2s;
    box-shadow: var(--shadow-xl); }
    .car-card__feature:hover {
      transform: translateY(-5%); }
  .car-card__icon-box {
    padding: 1.4rem 1.4rem 0 1.4rem; }
  .car-card__icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: currentColor; }
  .car-card__value {
    padding: .4rem 1.4rem 1.4rem 1.4rem; }

.promo-card {
  background-color: #fff;
  box-shadow: var(--shadow-l);
  border-radius: 5px;
  overflow: hidden; }
  .promo-card__img {
    width: 100%; }
  .promo-card__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
    color: #000; }
  .promo-card__title {
    font-size: 1.4rem;
    font-weight: 600;
    grid-column: 1 / 4; }
  .promo-card__price {
    font-size: 1.4rem;
    font-weight: 600;
    grid-column: 4 / 5;
    text-align: end; }
  .promo-card__country {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    grid-column: 1 / 4; }
  .promo-card__person {
    font-size: 1rem;
    font-weight: 300;
    text-align: end;
    grid-column: 4 / 5; }
  .promo-card__footer {
    display: flex;
    justify-content: center;
    align-items: center; }
  .promo-card__icon {
    width: 1.8rem;
    height: 1.8rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--shadow-xl);
  min-height: 30rem; }

.content {
  display: flex; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--line);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .logo {
    height: 3.25rem;
    margin-left: 2rem; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar .side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem; }
    .sidebar .side-nav__item {
      position: relative; }
      .sidebar .side-nav__item:not(:last-child) {
        margin-bottom: .5rem; }
    .sidebar .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .sidebar .side-nav__item:hover::before, .sidebar .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar .side-nav__item:active::before {
      background-color: var(--primary-light); }
    .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
      color: var(--grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      z-index: 10;
      position: relative;
      display: flex; }
    .sidebar .side-nav__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      fill: currentColor; }
  .sidebar .legal {
    font-size: 1.2rem;
    color: var(--grey-light-4);
    text-align: center;
    padding: 2.5rem; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--grey-light-1);
  border-bottom: var(--line); }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book-now {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.flight-view {
  padding: 4.5rem;
  flex: 1;
  display: grid;
  grid-template-columns: 55% auto;
  gap: 4.5rem; }

.rent {
  width: 100%;
  background-color: var(--grey-light-2); }
  .rent__heading {
    font-size: 1.8rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column; }
    .rent__heading--title {
      font-weight: 600; }
    .rent__heading--desc {
      font-size: 1.4rem;
      font-weight: 300; }
    .rent__heading.white {
      color: #fff; }
    .rent__heading.center {
      text-align: center; }
  .rent__wrapper {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../img/rental-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .rent__header {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center; }
  .rent__title {
    padding: 0;
    font-size: 3.4rem;
    font-weight: 600;
    color: #fff; }
  .rent__body {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400; }
  .rent__form {
    align-self: stretch;
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3rem;
    color: #000;
    margin: 0 4.5rem 4.5rem 4.5rem; }
  .rent__form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; }
  .rent__label {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    display: block; }
  .rent__form-wrap {
    display: flex;
    align-items: center; }
    .rent__form-wrap > *:not(:last-child) {
      margin-right: .4rem; }
  .rent__input {
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: inherit;
    color: inherit;
    border: 1px solid var(--grey-light-3);
    background-color: var(--grey-light-1);
    border-radius: 8px;
    padding: 1rem; }
    .rent__input::placeholder {
      color: var(--grey-light-4); }
    .rent__input:focus {
      outline: none; }
  .rent__btn-submit {
    border-radius: 8px;
    padding: 1.24rem;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark)); }
  .rent__abouts {
    margin: 4.5rem; }
  .rent__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem; }
  .rent__services {
    background-size: cover;
    background-repeat: no-repeat; }
  .rent__services-header {
    display: flex;
    justify-content: space-between; }
  .rent__controls {
    display: flex;
    gap: 1rem;
    align-self: end; }

.tours {
  width: 100%;
  background-color: var(--grey-light-2); }
  .tours__header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid red;
    padding: 4.5rem;
    gap: 1rem; }
  .tours__form {
    background-color: #fff;
    box-shadow: var(--shadow-l);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
  .tours__form-group {
    display: flex;
    flex-direction: column; }
  .tours__label {
    font-size: 1rem;
    font-weight: 600;
    color: #000; }
  .tours__input {
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: inherit;
    color: inherit;
    border: 1px solid var(--grey-light-3);
    background-color: var(--grey-light-1);
    border-radius: 8px;
    padding: 1rem; }
    .tours__input:focus {
      outline: none; }
  .tours__btn-wrapper {
    margin-top: 1rem; }
  .tours__body {
    padding: 4.5rem; }
  .tours__body-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .tours__sub-heading {
    display: flex;
    flex-direction: column; }
  .tours__sub-heading-title {
    font-size: 18px;
    font-weight: 600; }
  .tours__sub-heading-text {
    font-size: 14px;
    font-weight: 400; }
  .tours__group {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem; }
  .tours__type {
    background-color: #fff;
    box-shadow: var(--shadow-l);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3rem; }
    .tours__type--title {
      font-size: 1.8rem;
      font-weight: 600; }
    .tours__type--offer {
      font-size: 1rem;
      color: var(--grey-light-4); }
    .tours__type--1 {
      grid-column: 1;
      grid-row: 1 / 3;
      background-image: linear-gradient(transparent 0%, transparent 60%, #000 100%), url("../img/beach.jpg"); }
    .tours__type--2 {
      background-image: linear-gradient(transparent 0%, transparent 60%, #000 100%), url("../img/mountain.jpg");
      grid-column: 2/-1; }
    .tours__type--3 {
      background-image: linear-gradient(transparent 0%, transparent 60%, #000 100%), url("../img/desert.jpg"); }
      .tours__type--3 .tours__type--title {
        font-size: 1.4rem; }
    .tours__type--4 {
      background-image: linear-gradient(transparent 0%, transparent 60%, #000 100%), url("../img/park.jpg"); }
      .tours__type--4 .tours__type--title {
        font-size: 1.4rem; }
