.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--grey-light-2);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .logo {
    height: 3.25rem;
    margin-left: 2rem;
  }
}