.tours {
  width: 100%;
  background-color: var(--grey-light-2);

  &__header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid red;
    padding: 4.5rem;
    gap: 1rem;
  }

  &__form {
    background-color: #fff;
    box-shadow: var(--shadow-l);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
  }

  &__form-group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
  }

  &__input {
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: inherit;
    color: inherit;
    border: 1px solid var(--grey-light-3);
    background-color: var(--grey-light-1);
    border-radius: 8px;
    padding: 1rem;

    &:focus {
      outline: none;
    }
  }

  &__btn-wrapper {
    margin-top: 1rem;
  }




  &__body {
    padding: 4.5rem;
  }

  &__body-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__sub-heading {
    display: flex;
    flex-direction: column;
  }

  &__sub-heading-title {
    font-size: 18px;
    font-weight: 600;
  }

  &__sub-heading-text {
    font-size: 14px;
    font-weight: 400;
  }

  &__group {
    // box-shadow: var(--shadow-l);
    // padding: 3rem;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
  }

  &__type {
    background-color: #fff;
    box-shadow: var(--shadow-l);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3rem;

    &--title {
      font-size: 1.8rem;
      font-weight: 600;
    }

    &--offer {
      font-size: 1rem;
      color: var(--grey-light-4);
    }

    &--1{
      grid-column: 1;
      grid-row: 1 / 3;
      background-image: linear-gradient(transparent 0%, transparent 60%, #000 100%), url('../img/beach.jpg');
    }
    &--2{
      background-image: linear-gradient(transparent 0%, transparent 60%, #000 100%), url('../img/mountain.jpg');
      grid-column: 2/-1;

      
    }
    &--3{
      background-image: linear-gradient(transparent 0%, transparent 60%, #000 100%), url('../img/desert.jpg');
      .tours__type--title {
        font-size: 1.4rem;
      }
    }
    &--4{
      background-image: linear-gradient(transparent 0%, transparent 60%, #000 100%), url('../img/park.jpg');
      .tours__type--title {
        font-size: 1.4rem;
      }
    }




  }

}