.tours {
  width: 100%;
  background-color: var(--grey-light-2);

  &__header {
    background-image: linear-gradient(to bottom, rgba(#000, 0.1), rgba(#000, .9)), url('../img/rental-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
  }

  &__header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 4.5rem;
  }

  &__title {
    font-size: 3.4rem;
    color: #fff;
  }

  &__text {
    font-size: 1.8rem;
    color: #fff;
  }

  &__search-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3rem;
    color: #000;

    display: grid;
    grid-template-columns: 90% 10%;
    gap: 1rem;
  }

  &__label {
    grid-column: 1 / -1;
    color: #fff;
    margin-bottom: -1rem;
  }

  &__search-input {
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: inherit;
    color: inherit;
    border: 1px solid var(--grey-light-3);
    background-color: var(--grey-light-1);
    border-radius: 8px;
    padding: 1rem;

    outline: none;
    


  }

  &__search-btn {
    border-radius: 8px;
    padding: 1.24rem;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
  }

}