@mixin input {
  width: 100%;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: inherit;
  color: inherit;
  border: 1px solid var(--grey-light-3);
  background-color: var(--grey-light-1);
  border-radius: 8px;
  padding: 1rem;

  &::placeholder {
    color: var(--grey-light-4);
  }
  
  &:focus {
    outline: none;
  }
}

@mixin buttonPri {
  color: #fff;
  font-weight: 600;
  
  border: none;
  outline: none;
  cursor: pointer;
  
  background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
}
