.btn-inline {
  border: none;
  color: var(--primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  span {
    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover{
    color: var(--grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}


.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
  }

  // Initial State
  &__visible {
    padding: 1.4rem 7.5rem;

 
    &.p-reset {
      padding: 1.4rem;

    }
  }



  &__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 1.4rem 0;
  }

  &:hover {
    background-image: linear-gradient(to left, var(--primary-light), var(--primary-dark));
  }

  // Hover State
  &:hover &__visible{
    transform: translateY(100%);
  }

  &:hover &__invisible{
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }

  &.btn-sm {
    margin-top: 1rem;
    grid-column: 1 / -1;
    // padding: 1rem;
  }

  &.btn-xs {
    width: 100%;
  }

 
}




.btn-outline {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  color: var(--primary);
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    height: 2px;
    background-color: var(--primary);
    
    z-index: 999;
    position: absolute;

    bottom: 0;
    left: 0;
    transform-origin: left;
    width: 0;
    transition: all .2s ease;
    
  }

  &:hover::after,
  &.active::after{
    width: 100%;
  }

  

  
}
