.btn-inline {
  border: none;
  color: var(--primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  span {
    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover{
    color: var(--grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}



.btn-outline {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  color: var(--primary);
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    height: 2px;
    background-color: var(--primary);
    
    z-index: 999;
    position: absolute;

    bottom: 0;
    left: 0;
    transform-origin: left;
    width: 0;
    transition: all .2s ease;
    
  }

  &:hover::after,
  &.active::after{
    width: 100%;
  }

  &.transparent {
    background-color: transparent;
  }

}






.button {
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 1.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  box-shadow: var(--shadow-l);
  cursor: pointer;
  color: var(--primary-dark);
  background-color: #fff;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  color: var(--primary);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
  width: 100%;
  transition: all .2s;

  


  &__visible {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // initial state -50%
    // transform: translate(-50%, 200%); // hover state 200%
    position: absolute;
    color: currentColor;
    transition: all .2s;
  }

  &__invisible {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%); // initial state -300
    position: absolute;
    color: currentColor;
    transition: all .2s;
  }

  &:hover &__visible {
    transform: translate(-50%, 200%); // hover state 200%
  }

  &:hover &__invisible {
    transform: translate(-50%, -50%); // hover state -50%
  }

  &:hover {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  }

  &__sm {
    max-width: 30rem;
  }

  &__primary {
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    color: #fff;
    transition: all .2s;
  }

  &:hover.button__primary {
    background-image: linear-gradient(to left, var(--primary-light), var(--primary-dark));

  }
}
