.carousel { // container
  min-height: 20rem; // 200px
  border: 1px solid red;
  position: relative;
  overflow: hidden;


  &__width {
    position: absolute;

    border: 1px solid green;
    position: absolute;
    top: 0;
    left: 0;


    display: flex;
    align-items: start;
    justify-content: start;

    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;

    transition: 0.4s ease-in-out;
  }


  &__item{
    background-color: #ccc;
    // width: 33.33%;
    height: 20rem;
  }


}