.flights {
  grid-column: 1 / -1; 
  background-color: #fff;
  box-shadow: var(--shadow-l);
  padding: 3rem;


  &__header {
    // background-color: red;
    display: flex;
    gap: 1rem;
  }

  &__body {
    position: relative;
  }
}
