.slider {
  width: 100%;
  height: 60rem;
  position: relative;

  overflow: hidden;

  // slider button
  &__btn {
    position: absolute;
    outline: none;
    border: none;
    fill: var(--grey-dark-3);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
    z-index: 999;
    
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      fill: var(--grey-light-4);
    }

    &--left {
      left: 0;
      transform: translateX(50%);

    }

    &--right {
      right: 0;
      transform: translateX(-50%);
    }



  }

  &__btn-icon {
    height: 3rem;
    width: 3rem;
  }





  &__lines {
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 50%;
    transform: translateY(50%);

    transition: all .2s;

  }

  &__line {
    width: 2.5rem;
    height: 5px;
    margin: 15px 5px;
    border-radius: .5rem;
    background-color: var(--grey-dark-3);

    cursor: pointer;

    &:hover {
      background-color: var(--grey-light-3);
    }
  }

}


.slide {
  position: absolute;
  top: 0;
  height: 100%;


  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  &__img {
    width: 100%;
    height: 100%;
  }

  &__description {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    transform: translateY(100%);
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    color: #fff;
    transform: translateY(0%);
    transition: all .3s ease;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__body {
    color: var(--grey-light-4);
    font-size: 1.4rem;
  }
}



